{{> navbar }}


<section class="features14 cid-qUjflfrooa" id="features14-d">
        
    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            About Us</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-7">Barbadox Limited is a leading provider of integrated engineering, procurement, construction &amp; installation (EPCI) services across the Oil &amp; Gas and Food &amp; Beverages industries. Our strength lies in our team of dedicated, highly skilled and trained professionals, whose wealth of experience in Project Execution and Management are best in class in the areas of Engineering, Procurement, Construction, Installation, IT Solutions, Recruitment and Real Estate Management.  We have successfully built long-term strategic alliances with our clients, thereby making us the partner of choice for the delivery of engineering and construction projects.&nbsp;&nbsp;</h3>
        <div class="media-container-column">
            <div class="row justify-content-center">
                <div class="card p-4 col-12 col-md-6 col-lg-3">
                    <div class="media pb-3">
                        <div class="card-img align-self-center">
                            <span class="mbr-iconfont mbrib-like"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="card-title py-2 align-left mbr-fonts-style display-5">Reliability</h4>
                        </div>
                    </div>                
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">Client driven and project focused with over 3 years of established supplier and OEM relationships, we source the right products, at the right price and within the right timescales that our clients demand</p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-3">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-success"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                                Approved supplier</h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                            Providing International and Local Procurement services, Supply Chain and Logistics Management
                        </p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-3">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-smile-face"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                            Integrity &amp; Trust</h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                           Renowned in the industry for providing the most EFFECTIVE and BEST-PRICE GLOBAL sourcing model
                        </p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-3">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-globe-2"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                            Adhoc &amp; outsourced services</h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                           We service the Oil &amp; Gas, Energy &amp; Natural Resources industry, International Aid and Government sectors
                        </p>
                    </div>
                </div>
            </div>
           <!-- <div class="media-container-row image-row">
                <div class="mbr-figure" mbr-style="{'width': mediaSize + '%'}">
                    <img src="assets/images/mbr-732x533.jpg" alt="Mobirise" title>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-qUH5RrMYvq" id="content4-26">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-12">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Aim &amp; Objectives</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Our aim is to achieve the clients' goal in record time and at the right quality, while creating a conducive and safe environment for sustainability and optimum performance.
<div>By deploying best practices with the latest technology and right human resource tools. We delivers on our promise of right value at the right price.
</div><div><br></div></h3>
                
            </div>
        </div>
    </div>
</section>

<section class="progress-bars2 cid-qUYauUo1Wl" id="progress-bars2-3c">
    
     

    

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Core Values</h2>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Our level of expertise in the industry</h3>

        <div class="row pt-5 mt-5">
            <div class="col-md-6 text-elements">
                <h4 class="section-content-title pb-3 align-left mbr-fonts-style display-5">Our Experience</h4>
                <p class="section-content-text align-left mbr-fonts-style display-7">
                    Our years of experience in the industry is loaded richly<br>with 3 years&nbsp; history of supplying the United Nations, and Governments across Africa.<br><br>3 years operating as&nbsp;a consultancy company facilitating trade and investment across the Nation and Africa.<br><br>3 years expertise supplying international power generation markets, along with supplying the oil &amp; gas markets.<br></p>
            </div>
            <div class="progress_elements col-md-6">
                <div class="progress1 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Tenacity</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary " max="100" value="85">
                    </progress>
                </div>
                 
                <div class="progress2 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Dedication</p>
                        </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number">
                        </div>
                        <span>%</span>
                    </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="79">
                    </progress>
                </div>
                
                <div class="progress3 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>Teamwork</p>
                        </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number">
                        </div>
                        <span>%</span>
                    </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="75">
                    </progress>
                </div>
                
                <div class="progress4 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Integrity</p>
                        </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number">
                        </div>
                        <span>%</span>
                    </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="82">
                    </progress>
                </div>
            
                
            </div>
        </div>
    </div>
</section>


{{> footer}}