{{> navbar }}

<section class="engine"><a href="/">Barbadox Ltd.</a></section><section class="mbr-section content4 cid-qUKUZ6m18L" id="content4-2l">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Careers &amp; Opportunities</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">
                    Build your career with us at Barbadox Ltd.</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content9 cid-qUKV1VvCmP" id="content9-2m">
    
     

    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-7">The 3Ts plus initiative of Tenacity, Teamwork and Technology drives our corporate identity, by fostering the culture of excellence through our commitment towards people development. At the heart of this philosophy is our core belief in promoting innovation as a requisite tool in establishing excellent service delivery while nurturing individual skills, irrespective of age, gender, or job description, into creative talents, able to evolve under an equal opportunity work environment.
<div>With our array of diverse products and services, the ever-rising challenge for quality improvement, in meeting with global standards motivates our continuous drive in providing solutions that sustain the ever-changing business climate with the right people, passion and purpose. The right and adequate tools for operational efficiency are maximally deployed to meet global standards under a suitable environment.
</div><div><br></div></div>
            <hr class="line" style="width: 25%;">
        </div>
        </div>
</section>

<section class="testimonials3 cid-qUL9Z7rbEO" id="testimonials3-31">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="media-content px-3 align-self-center mbr-white py-2">
                <p class="mbr-text testimonial-text mbr-fonts-style display-7"><span style="font-style: normal;">
                   We work with excellent, hard working and disciplined groups of</span> <span style="font-style: normal;">individuals here at Barbadox Ltd., working in unison, with one goal in mind, which is to strive for excellence, building a mentality, charged towards the growth and development of this company.</span></p>
                <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">TENACITY</p>
                <p class="mbr-author-desc mbr-fonts-style display-7">Engineering Department</p>
            </div>

            <div class="mbr-figure pl-lg-5" style="width: 130%;">
              <img src="/assets/images/mbr-1162x769.jpg" alt="career1" title="career image 1">
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-qULa0USXAm" id="testimonials2-32">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure pr-lg-5" style="width: 130%;">
              <img src="/assets/images/mbr-1162x768.jpg" alt="career2" title="Career img 2">
            </div>
            <div class="media-content px-3 align-self-center mbr-white py-2">
                    <p class="mbr-text testimonial-text mbr-fonts-style display-7"><span style="font-style: normal;">
                       We at Barbadox Limited work together as a family, with team building exercises driven towards a common goal, which is to provide the best services to our clients.</span><br><span style="font-style: normal;">Our team of engineers and procurement officers work tirelessly to ensure chances of failure are limited.</span></p>
                    <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">TEAM WORK</p>
                    <p class="mbr-author-desc mbr-fonts-style display-7">
                       Managing Director</p>
            </div>
        </div>
    </div>
</section>

<section class="testimonials3 cid-qULa5HIjKh" id="testimonials3-33">

    

    

    <div class="container">
        <div class="media-container-row">
            <div class="media-content px-3 align-self-center mbr-white py-2">
                <p class="mbr-text testimonial-text mbr-fonts-style display-7"><span style="font-style: normal;">We train young, hard working youths on how to be more productive and creative in today's market. Providing conducive environments with mentors that ensure the opportunities provided are optimally maximized to create a platform for a successful future.</span></p>
                <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">TECHNOLOGY</p>
                <p class="mbr-author-desc mbr-fonts-style display-7">IT Department</p>
            </div>

            <div class="mbr-figure pl-lg-5" style="width: 130%;">
              <img src="/assets/images/mbr-1162x740.jpg" alt="career3" title="Career Img 3">
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info2 cid-qUjgBzOnDD" id="info2-1i">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(37, 170, 178);">
    </div>

    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-primary-outline display-4" href="/contact"><span class="mbri-paper-plane mbr-iconfont mbr-iconfont-btn"></span>Contact Us</a></div>
            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-5">Over 3 years collective expertise supplying the Oil &amp; Gas industry and mining industry across Africa.</h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-7">
                    Barbadox Ltd.&nbsp;</h3>
            </div>
        </div>
    </div>
</section>

{{> footer }}