{{> navbar}}

<section class="engine"><a href="/">Barbadox Ltd.</a></section>

<section class="mbr-section content5 cid-qVqTUn7rdF" id="content5-3v">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">Strategic Consulting</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Man-power resource management and Training.</h3>
                
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-qXXwDLh10i" id="features11-5f">

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="/assets/images/mbr-1162x775.jpg" alt="consulting" title="">
                </div>
                <div class=" align-left aside-content">
                    <div class="mbr-section-text">
                <p class="mbr-dark display-6">
                    We are on hand to create, plan and implement short, mid and long term development requirements, by complementing and driving the necessary indices of growth in any organization. We collaborate with Government and its various agencies, NGOs, SMEs, Corporate and Social Groups to achieve and sustain their operational strategies under a conducive and friendly approach by adapting to effective and customized techniques, peculiar to the firm. Our range of services include Public Relations training, Man-power resource management training, Man-power Contract Administration, Human resource development, etc.
We provide a one-stop shop for all your outsourced energy services from technical training to manpower recruitment (local and expatriate) and feasibility assessment studies.
                </p>
            </div>

            </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section article content1 cid-qVqXojTs1Y" id="content1-3x">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-12 mbr-fonts-style display-7">
                <h5>Technical Training</h5>
            
                <p>Our tried and tested framework for analyzing business and training needs allows us to get to the very heart of your business development needs.We focus on solutions to business issues – this is outside of the scope of most training courses. We identify the skills, knowledge and tools you need and build our training solution around your desired outcomes.</p>
        </div>
    </div>
    </div>
</section>
<section class="features4 cid-qXXynMlK4u" id="features4-5g">
    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Manpower Contract Administration
                        </h4>
                        <ul class="mbr-text mbr-fonts-style display-7">
                            <li>Work Permits: STR, TWP</li>
                            <li>Resident Permits</li>
                            <li>Personnel Support Services</li>
                            <li>Salaries Administration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Training Packages</h4>
                        <ul class="mbr-text mbr-fonts-style display-7">
                            <li>General Technical Courses.</li>
                            <li>HSE related training</li>
                            <li>Tailored Oil &amp; Gas related courses IT/Telecoms</li>
                    </ul>
                </div>
            </div>

            

            
        </div>
    </div>
</div>
</section>




{{> footer}}