{{> navbar}}

<section class="engine"><a href="/">Barbadox Ltd.</a></section>


<section class="mbr-section content5 cid-qVqTUn7rdF" id="content5-3v">
    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-2">Strategic Consulting</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Man-power resource management and Training.</h3>
                
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qUL28uLIpc" id="content1-2s">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-12 mbr-fonts-style display-7"><p>We are on hand to create, plan and implement short, mid and long term development requirements, by complementing and driving the necessary indices of growth in any organization. We collaborate with Government and its various agencies, NGOs, SMEs, Corporate and Social Groups to achieve and sustain their operational strategies under a conducive and friendly approach by adapting to effective and customized techniques, peculiar to the firm. Our range of services include Public Relations, Training. Our range of services include Man-power resource management, training and human resource development etc.</p><p>We provide a one-stop shop for all your outsourced energy services from technical training to manpower recruitment (local and expatriate) and feasibility assessment studies. We offer the following manpower services.</p></div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qVqXojTs1Y" id="content1-3x">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-12 mbr-fonts-style display-7">
                <h5>Technical Training</h5>
            
                <p>Our tried and tested framework for analyzing business and training needs allows us to get to the very heart of your business development needs.We focus on solutions to business issues – this is outside of the scope of most training courses. We identify the skills, knowledge and tools you need and build our training solution around your desired outcomes.</p>
        </div>
    </div>
    </div>
</section>

<section class="mbr-section article content12 cid-qVqUmqrN0w" id="content12-3w">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-4 mbr-fonts-style display-7">
                
                <h3>Our Services</h3>
                <hr>
                    <p><a href="/procurement">Procurement</a></p>
                    <hr>
                    
                    <p><a href="/consulting">Strategic Consulting</a></p>
                    <hr>
                    
                    <p><a href="/engineering">Engineering -EPCI</a></p>
                
                <hr>
                    <p><a href="/installation">Installation</a></p>
                
                <hr>
                    <p><a href="/construction">Construction</a></p>
                
                <hr>
                
                <img src="/assets/images/mbr-1162x775.jpg" alt="consulting" width="250" height="450" style="width: 100%;" class="img-thumbnail">
            </div>
        
            <div class="mbr-text counter-container col-12 col-md-4 mbr-fonts-style display-7">
                    <h5>Manpower Contract Administration</h5>
                <ul>
                    <li>Work Permits: STR, TWP
</li><li>Resident Permits
</li><li>Personnel Support Services</li><li>Salaries Administration</li>
                </ul>
            </div>
            
             <div class="mbr-text counter-container col-12 col-md-4 mbr-fonts-style display-7">
                    <h5>Training Packages</h5>
                 <ul>
                     <li>General Technical Courses.</li><li>HSE related training</li><li>Tailored Oil &amp; Gas related courses IT/Telecoms
</li>
                     
                 </ul>
                 <h5><br></h5>
            </div>
            
            <!--<div class="mbr-text counter-container col-12 col-md-3 mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".mbr-text" data-multiline mbr-article>
                <h5>Project Management &amp; Construction Supervision</h5>
                
                <p>We provide you with professional project management and construction supervision, specifically tailored to safeguard the successful completion of your project. Our highly experienced personnel can effectively control and supervise every aspect of your construction work.

We can work either as an integral part of the client’s project team providing specialist package services, or we can offer a complete construction management service covering all aspects of the project management</p>
                
                
            </div> -->
        </div>   
                    
    </div>
    
</section>

{{> footer}}