{{> navbar}}

<section class="mbr-section content5 cid-qVY6rwJT59" id="content5-4e">

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Construction</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Offering services from General maintenance to Onshore/Offshore construction management&nbsp;</h3>
                
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-qXXdupMKD1" id="features11-5a">

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                    <img src="/assets/images/offshore-952x462.png" alt="Construction Site" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">Our services span across the following;</h2>
                    <div class="mbr-section-text">
                <ul class="mbr-light">
                    <li>Onshore, offshore, shallow water and marsh pipelines</li>
                    <li>Gas processing facilities</li>
                    <li>Flow stations</li>
                    <li>Pump stations</li>
                    <li>Gas compressor stations</li>
                    <li>Gathering systems</li>
                    <li>On-site installations and process valve refurbishment</li>
                    <li>Pressure coded welding, general fabrication and structural maintenance</li> 
                </ul>
            </div>

            </div>
            </div>
        </div> 
    </div>          
</section>



{{> footer}}