{{> navbar }}

<section class="engine">
    <a href="/">Barbadox Ltd.</a>
</section>
<section class="carousel slide cid-qUiPOb2TzI" data-interval="false" id="slider1-2">

    

    <div class="full-screen"><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000"><ol class="carousel-indicators"><li data-app-prevent-settings="" data-target="#slider1-2" class=" active" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider1-2" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider1-2" data-slide-to="2"></li><li data-app-prevent-settings="" data-target="#slider1-2" data-slide-to="3"></li></ol><div class="carousel-inner" role="listbox"><div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(/assets/images/offshore-1154x560.png);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.2;"></div><img src="/assets/images/offshore-1154x560.png"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-5">Construction</h2><p class="lead mbr-text mbr-fonts-style display-5">Barbadox Ltd. offers technical operations of pipelines, manages and executes the installation of wielded process pipes and fitting onsite.</p><div class="mbr-section-btn" buttons="0"> <a class="btn  btn-white-outline display-4" href="/construction"><span class="mbri-more-horizontal mbr-iconfont mbr-iconfont-btn"></span>Learn more</a></div></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/mbr-1732x1080.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.2;"></div><img src="/assets/images/mbr-1732x1080.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-5">Consultancy Services</h2><p class="lead mbr-text mbr-fonts-style display-5">We provide state of the art engineering equipments, with a team of Engineers that adhere to our work methodology concepts to bring to life the “visions” of our client.</p><div class="mbr-section-btn" buttons="0"> <a class="btn  btn-white-outline display-4" href="/consulting"><span class="mbri-more-horizontal mbr-iconfont mbr-iconfont-btn"></span>Learn More</a></div></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/coal-power-station-river-slider-1600x667.jpg);"><div class="container container-slide"><div class="image_wrapper"><img src="/assets/images/coal-power-station-river-slider-1600x667.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-5">Power Utility Infrastructure</h2><p class="lead mbr-text mbr-fonts-style display-5">Barbadox also provide services and expertise to Nigeria Power sector, the broad capabilities enable us to offer our customers a full range of services from design, engineering, procurement and construction to operational and maintenance</p><div class="mbr-section-btn" buttons="0"> <a class="btn  btn-white-outline display-4" href="/consulting"><span class="mbri-more-horizontal mbr-iconfont mbr-iconfont-btn"></span>Learn More</a></div></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/pentair-codeline-malta-980x440.jpg);"><div class="container container-slide"><div class="image_wrapper"><img src="/assets/images/pentair-codeline-malta-980x440.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-5">Food And Beverages</h2><p class="lead mbr-text mbr-fonts-style display-5">Barbadox helps food and beverage operators keep pace as the industry continues to undergo widespread changes</p><div class="mbr-section-btn" buttons="0"> <a class="btn  btn-white-outline display-4" href="/consulting"><span class="mbri-more-horizontal mbr-iconfont mbr-iconfont-btn"></span>Learn More</a></div></div></div></div></div></div></div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider1-2"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider1-2"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div></div>
</section>

<section class="mbr-section info2 cid-qUiUGUBgcp" id="info2-3">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(37, 170, 178);">
    </div>

    <div class="container">
        <div class="row main justify-content-center">
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                <div class="mbr-section-btn align-left py-4"><a class="btn btn-primary-outline display-4" href="/contact"><span class="mbri-paper-plane mbr-iconfont mbr-iconfont-btn"></span>Contact Us</a></div>
            </div>
            <div class="media-container-column title col-12 col-lg-7 col-md-6">
                <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-5">Over 3 years,
                    <div>
                        we have provided quality and excellent services to oil and gas, food and beverages and Power sectors.
                    </div>
                </h2>
                <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-7"><strong>
                    Barbadox Ltd.&nbsp;</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="progress-bars2 cid-qUKYrDXVl4" id="progress-bars2-2n">
    
     

    

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Core Values</h2>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Our level of expertise in the industry</h3>

            <div class="progress_elements col-md-12">
                <div class="progress1 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Tenacity</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary " max="100" value="85">
                    </progress>
                </div>
                 
                <div class="progress2 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Dedication</p>
                        </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number">
                        </div>
                        <span>%</span>
                    </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="79">
                    </progress>
                </div>
                
                <div class="progress3 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>Teamwork</p>
                        </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number">
                        </div>
                        <span>%</span>
                    </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="75">
                    </progress>
                </div>
                
                <div class="progress4 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Integrity</p>
                        </div>
                    <div class="progress_value mbr-fonts-style display-7">
                        <div class="progressbar-number">
                        </div>
                        <span>%</span>
                    </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="82">
                    </progress>
                </div>
            
                
            </div>
        </div>
    
</section>

<section class="features14 cid-qUj1yldooC" id="features14-4">
    
    

    
    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            Who we are</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-7">
            
        <div><br></div><div>Barbadox Limited is a leading provider of integrated engineering, procurement, construction &amp; installation (EPCI) services across the Oil &amp; Gas and Food &amp; Beverages industries.</div></h3>
        <div class="media-container-column">
            <div class="row justify-content-center">
                <div class="card p-4 col-12 col-md-6 col-lg-3">
                    <div class="media pb-3">
                        <div class="card-img align-self-center">
                            <span class="mbr-iconfont mbrib-like"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="card-title py-2 align-left mbr-fonts-style display-5">Procurement services</h4>
                        </div>
                    </div>                
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">Client driven and project focused with over 3 years of established supplier and OEM relationships, we source the right products, at the right price and within the right timescales that our clients demand</p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-3">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-success"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                                Approved supplier</h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                            Providing International and Local Procurement services, Supply Chain and Logistics Management
                        </p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-3">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-smile-face"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                            Integrity &amp; Trust</h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                           Renowned in the industry for providing the most EFFECTIVE and BEST-PRICE GLOBAL sourcing model
                        </p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-3">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-globe-2"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                            Adhoc &amp; outsourced services</h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">We service oil &amp; gas, food &amp; beverages and Power Industries</p>
                    </div>
                </div>
            </div>
            <div class="media-container-row image-row">
                <div class="mbr-figure" style="width: 33%;">
                    <img src="/assets/images/installment-628x419.jpg" alt="Installment" title="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients cid-qUKQQzbdNu" id="clients-2i">
      

    
        <div class="container mb-5">
            <div class="media-container-row">
                <div class="col-12 align-center">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                        Our Clients
                    </h2>
                    <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">Our list of Clients we've served.&nbsp;</h3>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner" data-visible="6">
                
                
                
                
                
            <div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/agip-240x240.png" class="img-responsive clients-img" alt="agip" title="agip logo">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/chevronlogo-500x262.png" class="img-responsive clients-img" alt="chevron" title="chevron logo">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/addax-240x170.jpg" class="img-responsive clients-img" alt="addax" title="addax logo">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/shell-240x282.jpg" class="img-responsive clients-img" alt="shell" title="shell logo">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/seplat-1600x614.jpg" class="img-responsive clients-img" alt="seplat" title="seplat logo">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/total-1024x768.png" class="img-responsive clients-img" alt="total" title="total logo">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="/assets/images/exxonmobil-logo-png-1920-1920x1080.jpg" class="img-responsive clients-img" alt="exxon" title="exxon mobil">
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
{{> footer}}