{{> navbar }}

<section class="engine"><a href="/">free site builder</a></section><section class="mbr-section content4 cid-qUjuzHrvJm" id="content4-23">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Industries</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">We offer services that span across the following industries; Oil and gas, Food and Beverages and Power Utility Infrastructure...</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qVrY8Vd5EB" id="content11-3y">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                
                <h3>1. <a href="/industries">Oil &amp; Gas</a></h3>
                <p>Barbadox Limited range of consultancy for EPC services include:</p>
                
                <ul>
                    <li>Supports Onshore and offshore oil and gas production facilities, including platforms, floating production facilities and subsea facilities.</li>
                    <li>Supports projects at all level including, Feasibility studies, FEED design, Detailed Engineering construction projects.</li>
                    <li>Supports petrochemical plant on engineering services, proprietary technologies and technical services.
</li><li>Provides cutting edge engineering solutions to the Refinery facilities.&nbsp;</li>
                </ul>
                
                <h5><strong>Offshore</strong></h5>
                <p>
                    Engineering product Quality and HSE are words that have been synonymous with barbadox Limited, in providing engineering services to offshore platform in Africa. We have played a major role in the engineering, procurement and construction and installation of offshore platform projects. We respond swiftly to changing markets and client requirements. Barbadox Limited has continued to provide innovative solution and expand its offerings of support to the African offshore industry.
Now with the support of technical partner, Barbadox Limited provide combined solutions in all types of offshore platform, helping our customers reduce risk and succeed in their businesses. We provide solution to offshore platforms including topsides to subsea equipment, greenfield or brownfield.

                </p>
                
                <h5><strong>Onshore</strong></h5>
                <p>
                    Barbadox Limited covers the full range of onshore facilities for the oil and gas chain, petrochemicals and other energy industries. We also present in non-energy activities (buildings and infrastructures). We have many proprietary technologies in the design and construction of onshore units. We are one of the leading engineering service providers in all onshore facilities including refining and petrochemical units. We have been a key player in offshore engineering and construction, contributing innovative engineering, construction and processing technology solutions for onshore developments. Today, we serve the entire range of the oil and gas value chain, upstream and downstream, helping our clients unlock the full potential of their oil and gas assets.</p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qVs1gq3zYM" id="content11-3z">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                
                <h3>2. <a href="/industries">Food And Beverages</a></h3>
                <p>Hygienic standards and safety&nbsp;</p>
                <p>
                    Barbadox is the sole representative of WIKA Group and products in Nigeria. Measuring instruments from WIKA are manufactured in conformity with international standards. They meet the stringent requirements of, e.g.:
                </p>
                
                <ul>
                    <li>FDA (Food and Drug Administration)</li>
                    <li>EHEDG (European Hygienic Engineering &amp; Design Group)</li>
                    <li>3-A Sanitary Standards, Inc.</li>
                    <li>ATEX (directive 94/9/EC)</li>
                </ul>
                <p>
                    For the proof of conformity within the scope of a HACCP concept, WIKA have an extensive programme ready-certified. For the ongoing testing of the instruments in the context of quality management, a wide range of calibration equipment and calibration services are available.
                </p>
                
                <h5><strong>Process connections&nbsp;</strong></h5>
                <p><span style="color: inherit; font-family: inherit;">Barbadox through WIKA supplies a wide range of measuring instruments with manufacturer-specific process connections, which are usual in the industry like, for example, milk thread connection DIN 11851, clamp connections to DIN 32676, clamp ISO 2852 and ASME BPE, aseptic connections to DIN 11864, NEUMO®, VARIVENT®, for sterile or aseptic applications.</span></p>
                <p><strong>EPC</strong><br></p>
                <p>Barbadox through WIKA has worked with licensing and EPC companies for more than 30 years on major projects all over the world. We partner with you from the planning stages through to completion, and we provide post-project support. In addition to supplying high-quality process measurement instruments for temperature, pressure, level and flow applications, we can also work with you to develop solutions that meet your exact requirements. 
</p><p>We also offers on-site expertise and technical support services to help ensure the success of your project. For more information, contact us on <a href="mailto:info@barbadoxltd.com">info@barbadoxltd.com
</a></p>
                
                <p><span style="font-size: 20px;"><strong>Products</strong></span></p>
                <p>Barbadox through WIKA has worked with licensing and EPC companies for more than 30 years on major projects all over the world. We partner with you from the planning stages through to completion, and we provide post-project support. In addition to supplying high-quality process measurement instruments for temperature, pressure, level and flow applications, we can also work with you to develop solutions that meet your exact requirements. 
</p>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qVs6T5mEnP" id="content11-40">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                
                <h3>3. <a href="/industries">Power Utility Infrastructure</a></h3>
                <p>Barbadox also provide services and expertise to Nigeria Power sector, the broad capabilities enable us to offer our customers a full range of services from design, engineering, procurement and construction to operational and maintenance. We engage in the following services;</p>
                
                <ul>
                    <li>Transmission lines projects</li>
                    <li>Rehabilitation and Construction of Substations (330/132/33KVA)</li><li>Procurement of Power supply equipment's</li><li>Power Control Systems Integration</li><li>Replacement of underground cables</li><li>Installation of Transformers</li><li>Supply and installation of prepaid meters</li><li>Installation/Repair of turbines</li><li>Rural Electrification</li>
                </ul>
                
                <h5><strong>Power &amp; Renewable Energy</strong></h5>
                <p>
                    </p><p>Within the framework of power, we provide a range of services and solutions. We have technical partnership with international reputable companies with effective synergy based on shared responsibilities and reward to provide world-class services in the power and renewable energy sectors by leveraging on the demand. We undertake:</p>
                <ul>
                    <li>Main Contractor Responsibility Turnkey EPC. Solutions incl. Civil works</li><li>Fossil Power Generation: Wind, Coal, Solar, Hydro and Bio-fuels</li><li>EPC for distribution and Transmission</li>
                    
                </ul>
                
                <h5><strong>Solutions &amp; Systems</strong></h5>
                <ul>
                    <li>Traditional Business</li><li>Customized &amp; field Proven</li><li>End Customers &amp; EPC.</li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="carousel slide cid-qVsg2k1nud" data-interval="false" id="slider2-47">

    
    <div class="container content-slider">
        <div class="content-slider-wrap">
            <div><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000"><ol class="carousel-indicators"><li data-app-prevent-settings="" data-target="#slider2-47" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider2-47" class=" active" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider2-47" data-slide-to="2"></li></ol><div class="carousel-inner" role="listbox"><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/gas2-1-699x466.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);"></div><img src="/assets/images/gas2-1-699x466.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"><p class="lead mbr-text mbr-fonts-style display-1">Oil &amp; Gas</p></div></div></div></div></div><div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(/assets/images/beverages-2000x1333.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.3;"></div><img src="/assets/images/beverages-2000x1333.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"><p class="lead mbr-text mbr-fonts-style display-1">Food<br>&amp; <br>Beverages</p></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/energy2-1965x1080.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.2;"></div><img src="/assets/images/energy2-1965x1080.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"><p class="lead mbr-text mbr-fonts-style display-1">Power &amp;<br>Renewable Energy</p></div></div></div></div></div></div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-47"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-47"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div></div> 
        </div>
    </div>
</section>

{{> footer}}