{{> navbar}}
 
<section class="mbr-section content5 cid-qVY6jQqDCz" id="content5-48">
    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Installation</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">We offer quality &amp; competence in our installation services&nbsp;</h3>
                
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-qXYs1oiop6" id="features11-5j">
    

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                     <img src="/assets/images/01-pipeline-installation-08-applying-field-joint-coating-952x714.jpg" alt="installment" title="">
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-5">We have competence to handle installation of the following;</h2>
                    <div class="mbr-section-text">
                <ul class="mbr-light">
                    <li>Pipeline &amp; platform installation</li>
                    <li>Buoy installation</li>
                    <li>Onshore, offshore, shallow water and marsh pipelines</li>
                    <li>Hook-up &amp; maintenance</li>
                    <li>Marine terminals</li>
                    <li>Shore approaches</li>
                    <li>Installation of offshore structures</li>
                </ul>
            </div>

            </div>
            </div>
        </div> 
    </div>          
</section>


{{> footer}}