{{> navbar}}

<section class="mbr-section content4 cid-qXWL4dpF7v" id="content4-4k">
    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    Oil And Gas</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">We provide engineering services and support to onshore/offshore production facilities.</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content11 cid-qXWL4hTy5g" id="content11-4m">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
                
                <h3 class=""><strong>Barbadox Limited range of consultancy for EPC services include:</strong></h3>
                
                <ul>
                    <li>Supports Onshore and offshore oil and gas production facilities, including platforms, floating production facilities and subsea facilities.</li>
                    <li>Supports projects at all level including, Feasibility studies, FEED design, Detailed Engineering construction projects.</li>
                    <li>Supports petrochemical plant on engineering services, proprietary technologies and technical services.
</li><li>Provides cutting edge engineering solutions to the Refinery facilities.&nbsp;</li>
                </ul>
                
                <h5><strong>Offshore</strong></h5>
                <p>
                    Engineering product Quality and HSE are words that have been synonymous with barbadox Limited, in providing engineering services to offshore platform in Africa. We have played a major role in the engineering, procurement and construction and installation of offshore platform projects. We respond swiftly to changing markets and client requirements. Barbadox Limited has continued to provide innovative solution and expand its offerings of support to the African offshore industry.
Now with the support of technical partner, Barbadox Limited provide combined solutions in all types of offshore platform, helping our customers reduce risk and succeed in their businesses. We provide solution to offshore platforms including topsides to subsea equipment, greenfield or brownfield.

                </p>
                
                <h5><strong>Onshore</strong></h5>
                <p>
                    Barbadox Limited covers the full range of onshore facilities for the oil and gas chain, petrochemicals and other energy industries. We also present in non-energy activities (buildings and infrastructures). We have many proprietary technologies in the design and construction of onshore units. We are one of the leading engineering service providers in all onshore facilities including refining and petrochemical units. We have been a key player in offshore engineering and construction, contributing innovative engineering, construction and processing technology solutions for onshore developments. Today, we serve the entire range of the oil and gas value chain, upstream and downstream, helping our clients unlock the full potential of their oil and gas assets.</p>
            </div>
        </div>
    </div>
</section>

<section class="carousel slide cid-qXWL4lAbyc" data-interval="false" id="slider2-4p">

    
    <div class="container content-slider">
        <div class="content-slider-wrap">
            <div><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="8000"><ol class="carousel-indicators"><li data-app-prevent-settings="" data-target="#slider2-4p" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider2-4p" class=" active" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider2-4p" data-slide-to="2"></li></ol><div class="carousel-inner" role="listbox"><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/oil-gas-rest-1920x1080.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);"></div><img src="/assets/images/oil-gas-rest-1920x1080.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"></div></div></div></div></div><div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(/assets/images/oil-and-gas-slider-1268x450.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.3;"></div><img src="/assets/images/oil-and-gas-slider-1268x450.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(/assets/images/energy2-1-1965x1080.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.2;"></div><img src="/assets/images/energy2-1-1965x1080.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"></div></div></div></div></div></div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-4p"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-4p"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div></div> 
        </div>
    </div>
</section>


{{> footer}}