{{> navbar }}

<section class="engine"><a href="/">Barbadox Ltd.</a></section>

<section class="mbr-section content5 cid-qVqMBxmbsf" id="content5-3s">

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Procurement</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Delivering proven procurement strategies and solutions...</h3>
                
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-qXYo5oOI0w" id="features11-5h">

    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 50%;">
                      <img src="/assets/images/procurement.jpg" alt="procurement" title="">
                </div>
                <div class=" align-left aside-content">
                    <p class="pt-3 mbr-fonts-style display-7">Barbadox delivers proven procurement strategies and solutions to substantially reduce supply chain costs and deliver quality materials that meet client’s specific requirements on schedule. We have longstanding global alliance and rich network of Original Equipment Manufacturers (OEM’s), authorised distributors of oilfield equipment, global buying houses, reputable third party quality inspectors and global freight forwarders. Our team has deep experience and understanding of local and international sourcing market and supply chain management.
<br>With a record of accomplishment of several successful project materials delivery for our clients, Barbadox is a leader in providing turnkey procurement solutions. We carefully select vendors and suppliers who share our passion for excellence and strive to add value to our projects with a joint focus on quality, schedule, and price.&nbsp;<br></p>
                  
            </div>
            </div>
        </div> 
    </div>          
</section>

<section class="mbr-section article content1 cid-qVqStXZytg" id="content1-3u">
    
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-12 mbr-fonts-style display-7">We provide a door to door service in line with international standards and best practices. We offer services which oversee the whole buying and contract purchasing of equipment in the energy sector. We oversee the whole buying process for the installation and maintenance of new and existing wells and pipelines.

Our Turnkey Procurement services also include Commercial Contracts Management, where we oversee the supply for the entire project and are accountable for the delivery of all services and materials to support projects


            </div>
        </div>
    </div>
</section>

<section class="features4 cid-qXYoR8Ztbp" id="features4-5i">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            
                        <div><span style="color: inherit; font-size: 1rem;">Procurement/Equipment Supply &amp; Maintenance</span><br></div></h4>
                        <p class="mbr-text mbr-fonts-style display-7">We are a major supplier of a range of high quality equipment to clients and end-users in the energy industry. We acquire superior parts through established relationships with Original Equipment Manufacturers (OEMs) and offer quality oil and gas equipment at incredible value.
<br>Barbadox Ltd. has a dedicated supply chain system in place to meet the general procurement need of its customers.
<br></p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Barbadox Ltd. works closely with OEMs to provide the following to the Nigerian Oil and gas Industry:</h4>
                        <ul class="mbr-text mbr-fonts-style display-7">
                            <li>valves-Ball, Butterfly, Air Pressure Relief, Control, Check, gate/Sluice Valves</li>
                            <li>Crude Oil, Gas and Liquid Samplers, Injectors and Probes</li>
                            <li>Instrumentation panels for pneumatic supply for control panel; filter dryers and filters; scopes for meter tubes, compressors and pipeline inspection; metering systems</li>
                            <li>Fire and safety equipment: All types of safety equipment such as extinguishers, safety boots, helmets, gloves, respiratory covers and coveralls</li>
                            <li>Process packages &amp; skids</li>
                            <li>Pumps, compressors, actuators</li>
                            <li>Heat exchangers</li>
                            <li>Skids for gas and light liquid hydrocarbon measurement, regulation and control</li>
                            <li>Chemicals, drilling mud fluids and additives</li>
                            <li>Environmental Remediation and Control equipment such as Booms, Skimmers, etc</li>
                            <li>Turbo Machinery, Generators, power and distribution transformers, process control and instrumentation equipment and systems, sub-stations and transmission line equipment</li>
                            <li>Traffic services including shipping transportation, merchandising and warehousing, among others</li>
                        </ul>
                    </div>
                </div>
            </div>

            

            
        </div>
    </div>
</section>

<section class="features2 cid-qXYU11lWDJ" id="features2-61">
    
    <div class="container">
        <h1 class="text-center display-5">Food &amp; Beverages</h1>
        <p class="text-center display-5">Supplies/Equipments for Food &amp; Beverages Industries</p>
        <br><br><br>
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/pressure-transmitter-492x492.png" alt="Pressure Transmitter" title="Pressure Transmitter">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Pressure Transmitters</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For sanitary applications</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/pressure-gauge-flush-492x492.png" alt="Pressure gauge flush" title="Pressure Gauge Flush">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Diaphragm Pressure Gauge</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For sanitary applications, with integrated diaphragm element monitoring</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/miniature-resistance-thermometer-492x492.png" alt="Miniature Resistance Thermometer" title="Miniature Resistance Thermometer">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Miniature Resistance Thermometer</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For sanitary applications, with integrated sterile connection</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/diaphragm-seal-sterile-connection-492x492.png" alt="Diaphragm Seal" title="Diaphragm Seal">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Diaphragm Seal with sterile connection</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For sanitary applications, threaded connection</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features2 cid-qXZaVXAkCy" id="features2-62">
        
    <div class="container">
        <h1 class="text-center display-5">Oil &amp; Gas</h1>
        <p class="text-center display-5">Supplies/Equipments for Oil &amp; Gas Industries</p>
        <br><br><br>
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/propack-flow-meter-492x492.png" alt="ProPak Flow Meter" title="ProPak Flow Meter for Oil &amp; Gas">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">ProPak Flow Meter</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For applications without straight upstream and downstream pipes</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/diaphragm-monitoring-system-492x492.png" alt="Diaphragm Monitoring System" title="Diaphragm Monitoring System">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Diaphragm Monitoring System</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For the chemical and petrochemical industries</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/protable-process-caliberator-492x492.png" alt="Portable Process Caliberator" title="Portable Process Caliberator">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Portable Process Caliberator</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For Measurement and control laboratories</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/digital-display-gauge-492x492.png" alt="Digital Temperature Transmitter" title="Digital Temperature Transmitter">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Digital temperature transmitter with HART® protocol</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Head and rail mounting version</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features2 cid-qXZe9OrO85" id="features2-63">
            
    <div class="container">
        <h1 class="text-center display-5">Power Utility Infrastructure</h1>
        <p class="text-center display-5">Supplies/Equipments for power transmission Industries</p>
        <br><br><br>
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/gas-density-indicator-492x492.png" alt="Gas Density Indicator" title="Gas Density Indicator">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Gas Density Indicator</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Gas density monitoring of closed SF<sub>6</sub> gas tanks</p> 
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/gas-density-sensors-492x492.png" alt="Gas Density Sensors" title="Gas Density Sensors">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Transmitter with MODBUS® output</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For gas density, temperature, pressure and humidity of SF<sub>6</sub> gas<br></p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/gas-density-monitors-492x492.png" alt="Gas Density Monitors" title="Gas Density Monitors">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Gas Density Monitors</h4>
                        <p class="mbr-text mbr-fonts-style display-7">With Modbus output</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/assets/images/handling-equipment-492x492.png" alt="Handling Equipment" title="Handling Equipment">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Handling Equipment</h4>
                        <p class="mbr-text mbr-fonts-style display-7">For filling, cleaning and recovering SF<sub>6</sub> gas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section info1 cid-qY2BSUO2gB" id="info1-64">

    <div class="container">
        <div class="row justify-content-center content-row">
            <div class="media-container-column title col-12 col-lg-7 col-md-6">                
                <h2 class="align-left mbr-bold mbr-fonts-style display-7">
                    <span style="font-weight: normal;">For more information, visit our <a href="/contact">Contact Us</a> page or <a href="/submitrfqs">Submit RFQs</a> and we'll get back to you, Thank You.</span></h2>
            </div>
            <div class="media-container-column col-12 col-lg-3 col-md-4">
                
            </div>
        </div>
    </div>
</section>



{{> footer}}