{{> navbar }}

<section class="engine"><a href="/">Barbadox Ltd.</a></section><section class="mbr-section content5 cid-qVqMBxmbsf" id="content5-3s">

     
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Procurement</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">Delivering proven procurement strategies and solutions...</h3>
                
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section article content1 cid-qUL3ZO1Lit" id="content1-2x">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-12 mbr-fonts-style display-7">Barbadox delivers proven procurement strategies and solutions to substantially reduce supply chain costs and deliver quality materials that meet client’s specific requirements on schedule. We have longstanding global alliance and rich network of Original Equipment Manufacturers (OEM’s), authorised distributors of oilfield equipment, global buying houses, reputable third party quality inspectors and global freight forwarders. Our team has deep experience and understanding of local and international sourcing market and supply chain management. 
<div>With a record of accomplishment of several successful project materials delivery for our clients, Barbadox is a leader in providing turnkey procurement solutions. We carefully select vendors and suppliers who share our passion for excellence and strive to add value to our projects with a joint focus on quality, schedule, and price. <strong>
</strong></div><div><strong><br></strong></div></div>
        </div>
    </div>
</section>

<section class="mbr-section article content12 cid-qVqN6hBtSP" id="content12-3t">
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text counter-container col-12 col-md-4 mbr-fonts-style display-7">
                
                <h3>Our Services</h3>
                <hr>
                    <p><a href="/procurement">Procurement</a></p>
                    <hr>
                    
                    <p><a href="/consulting">Strategic Consulting</a></p>
                    <hr>
                    
                    <p><a href="/engineering">Engineering -EPCI</a></p>
                
                <hr>
                    <p><a href="/installation">Installation</a></p>
                
                <hr>
                    <p><a href="/construction">Construction</a></p>
                
                <hr>
                
                <img src="/assets/images/procurement.jpg" alt="procurement" width="250" height="450" style="width: 100%;" class="img-thumbnail">
            </div>
        
            <div class="mbr-text counter-container col-12 col-md-4 mbr-fonts-style display-7"><br>
                
                    <h5>Procurement/Equipment Supply &amp; Maintenance</h5><p>We are a major supplier of a range of high quality equipment to clients and end-users in the energy industry. We acquire superior parts through established relationships with Original Equipment Manufacturers (OEMs) and offer quality oil and gas equipment at incredible value.</p><p>Barbadox Ltd. has a dedicated supply chain system in place to meet the general procurement need of its customers.</p><p><br></p>
                
                
            </div>
            
             <div class="mbr-text counter-container col-12 col-md-4 mbr-fonts-style display-7"><p>
                </p>
                 <h5>Barbadox Ltd. works closely with OEMs to provide the following to the Nigerian Oil and gas Industry:</h5>
                 <ul>
                     <li>valves-Ball, Butterfly, Air Pressure Relief, Control, Check, gate/Sluice Valves</li><li>Crude Oil, Gas and Liquid Samplers, Injectors and Probes</li><li>Instrumentation panels for pneumatic supply for control panel; filter dryers and filters; scopes for meter tubes, compressors and pipeline inspection; metering systems
</li><li>Fire and safety equipment: All types of safety equipment such as extinguishers, safety boots, helmets, gloves, respiratory covers and coveralls</li><li>Process packages &amp; skids
</li><li>Pumps, compressors, actuators
</li><li>Heat exchangers
</li><li>Skids for gas and light liquid hydrocarbon measurement, regulation and control
</li><li>Chemicals, drilling mud fluids and additives
</li><li>Environmental Remediation and Control equipment such as Booms, Skimmers, etc
</li><li>Turbo Machinery, Generators, power and distribution transformers, process control and instrumentation equipment and systems, sub-stations and transmission line equipment
</li><li>Traffic services including shipping transportation, merchandising and warehousing, among others
</li>
                 </ul>
                 
            </div>
            
            <!--<div class="mbr-text counter-container col-12 col-md-3 mbr-fonts-style" mbr-theme-style="display-7" data-app-selector=".mbr-text" data-multiline mbr-article>
                <h5>Project Management &amp; Construction Supervision</h5>
                
                <p>We provide you with professional project management and construction supervision, specifically tailored to safeguard the successful completion of your project. Our highly experienced personnel can effectively control and supervise every aspect of your construction work.

We can work either as an integral part of the client’s project team providing specialist package services, or we can offer a complete construction management service covering all aspects of the project management</p>
                
                
            </div> -->
        </div>   
                    
    </div>
    
</section>

<section class="mbr-section article content1 cid-qVqStXZytg" id="content1-3u">
    
     

    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 col-md-12 mbr-fonts-style display-7">We provide a door to door service in line with international standards and best practices. We offer services which oversee the whole buying and contract purchasing of equipment in the energy sector. We oversee the whole buying process for the installation and maintenance of new and existing wells and pipelines.

Our Turnkey Procurement services also include Commercial Contracts Management, where we oversee the supply for the entire project and are accountable for the delivery of all services and materials to support projects


            </div>
        </div>
    </div>
</section>


{{> footer}}