{{> navbar}}


<section class="engine"><a href="/">Barbadox Ltd.</a></section><section class="mbr-section content4 cid-qUHmchYTpP" id="content4-2c">


    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-5">Submit RFQs</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5"><strong>
                    Request for Services<br></strong>How can we help your business?<br><br></h3>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-7">Thank you for your interest in Barbadox Ltd. Please take a few moments to complete this form. Documents can be uploaded if needed to clarify your request. This mailbox only accepts qualified proposal requests for Barbadox Ltd. All other inquires should be directed to our <a href="/contact">Contact Us</a> page.
<div>
</div><div><br></div></h3>
                
            </div>
        </div>
    </div>
</section>

<section class="mbr-section form1 cid-qUHnK5WbbT" id="form1-2d">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-7">Your details</h2>
                <hr>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-7">Fields marked with an asterisk(*) are required</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Thanks for filling out the form!</div>
            
                    <form class="mbr-form" action="/submitrfqs" data-form-title="Mobirise Form">
                    <input type="hidden" name="email" data-form-email="true" value="oC8Z2TEaM2L0WGuwUmwzaqBM/3KSgDAB5I/Ruatku2K2/RjX/xBh8tLIy1FMtOqsPtT7LN7yBaZ7cmyUxO8n+ivsR+OkN4sGohARJ6WnmrKa5B46ZQAx5IYcXblQiMX6" data-form-field="Email">
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="status">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="status-form1-2d">Status*</label>
                                    <select class="form-control" name="status" id="status-form1-2d" data-form-field="">
                                      <option value="chief">Chief</option>
                                      <option value="dr">Dr.</option>
                                      <option value="miss">Miss</option>
                                      <option value="mr">Mr.</option>
                                      <option value="mrs">Mrs.</option>
                                      <option value="ms">Ms.</option>
                                      <option value="prof">Prof.</option>
                                      <option value="alhaji">Alhaji</option>
                                      <option value="pastor">Pastor</option>
                                      <option value="rev">Rev.</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2d">Name*</label>
                                    <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-2d">
                                </div>
                            </div>
                            
                            <div class="col-md-4 multi-horizontal" data-for="position">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-2d">Position/Job title*</label>
                                    <input type="text" class="form-control" name="position" data-form-field="position" required="" id="position-form1-2d">
                                </div>
                            </div>
                            
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-2d">Email*</label>
                                    <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-2d">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="phone">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2d">Phone*</label>
                                    <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-2d">
                                </div>
                            </div>
                            
                             <div class="col-md-4 multi-horizontal" data-for="location">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="location-form1-2d">Country/Location*</label>
                                    <input type="text" class="form-control" name="location" data-form-field="location" id="location-form1-2d">
                                </div>
                            </div>
                        </div>
                        
                      <br>
                        <br>
                        
                    <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-7">Company details</h2>
                   <hr>
                    
                                <div class="form-group" data-for="company">
                                    <label class="form-control-label mbr-fonts-style display-7" for="company name">Company/Organization name</label>
                                    <input type="text" class="form-control" name="companyName" data-form-field="company name" id="companyName-form1-2d">
                                    
                                </div>
                        
                            <div class="form-group" data-for="industry">
                                    <label class="form-control-label mbr-fonts-style display-7" for="Industry">Industry*</label>
                                
                                <select class="form-control" name="industry" id="industry-form1-2d" data-form-field="">
                                    <option value="industry">Industry</option>
                                      <option value="consumer business">Consumer Business &amp; Transportation</option>
                                      <option value="energy &amp; resources">Energy &amp; Resources</option>
                                      <option value="financial services">Financial Services</option>
                                      <option value="life sciences &amp; health care">Life Sciences &amp; Health Care</option>
                                      <option value="manufacturing">Manufacturing</option>
                                      <option value="public sector">Public sector</option>
                                      <option value="real estate">Real Estate</option>
                                      <option value="pastor">Pastor</option>
                                      <option value="tech, media &amp; telecom">Technology, Media &amp; Telecommunications</option>
                                    <option value="other">Other</option>
                                </select>
                                    
                                </div>
                        
                                <div class="form-group" data-for="revenue">
                                    <label class="form-control-label mbr-fonts-style display-7" for="revenue-form1-2d">Yearly revenue</label>
                                
                                <select class="form-control" name="revenue" id="revenue-form1-2d" data-form-field="">
                                    <option value="select revenue">Select yearly revenue</option>
                                      <option value="less than 1M">Less than N1 million</option>
                                      <option value="1m - 5m">N1 million - N5 million</option>
                                      <option value="5m - 10m">N5 million - N10 million</option>
                                      <option value="10m - 99m">N10 million - N99 million</option>
                                      <option value="100m - 500m">N100 million - N500 million</option>
                                      <option value="500m - 999m">N500 million - N999 million</option>
                                      <option value="1b - 5b">N1 billion - N5 billion</option>
                                      <option value="greater than 5b">Greater than N5 billion</option>
                                </select>
                                    
                                </div>
                        
                        <br>
                        
                        <br>
                        
                        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-7">Additional Information</h2>
                   <hr>
                        <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-7">Appropriate attachment types are ".doc", ".pdf", ".ppt", ".txt", ".xlsx", and ".zip".</h3>
                        
                        <div class="form-group" data-for="attachment">
                            <label class="form-control-label mbr-fonts-style display-7" for="attachment-form1-2d">Attachment</label>
                           <input type="file" class="form-control" name="attachment" data-form-field="attachment" id="attachment-form1-2d">
                        </div>
                    
                        <div class="form-group" data-for="message">
                            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2d">Comments/Instructions*</label>
                            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2d"></textarea>
                        </div>
            
                        <span class="input-group-btn"><button href="/submitrfqs" type="submit" class="btn btn-form btn-primary-outline display-4">SUBMIT FORM</button></span>
                    </form>
            </div>
        </div>
    </div>
</section>



{{> footer}}